.handsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vw;
}
.hand {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  margin: 0vw -1.5vw;
  width: 6vw;
  height: auto;
}
